{% extends 'add.html' %}
{% block content %}
<form></form>
    <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input type="password" class="form-control" placeholder="Enter Product name" required>
    </div>
    <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control"  placeholder="Enter quantity" required>
    </div>
    <div class="mb-3"></div>
        <label for="price" class="form-label">Price</label>
        <input type="password" class="form-control" placeholder="Enter Product name" required>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary" style="background-color:mediumorchid;">Update</button>
    </div>
</form>
{% endblock %}